<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" id="AdminPage">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <style>
        .control {
            width: 10em;
            float: right;
            background: lightgreen;
            /*margin-top: 1em;*/
            margin-left: 40em;
            padding: 1em;
            border: chartreuse solid 5px;
            color: darkblue;
        }
    </style>
    <script src="../static/Script0.js"></script>
</head>
<body>

<a href="../templates/index.html">Main page of hypermarket</a>
    <button id="week" onclick="opt()" th:action="../templates/index.html">Try it!</button>
<!--    <div class="control">-->
<!--        <button onclick="addCategory()">Добавить</button>-->
<!--        <div style="float: right"><input type="text" id="title" style="float: right; margin-bottom: 0.5em"/><br>-->
<!--            <label>Название категории</label></div>-->
<!--        <br>-->

<!--        <br/><br/><br/>-->
<!--        <div style="float: left">-->
<!--            <button onclick="setColor()" style="margin-bottom: 0.8em">Задать цвет</button>-->
<!--            <br>-->
<!--            <div style="float: left">-->
<!--                <input id="red" type="number" max="255" min="0" value="0"/><label> красный</label><br/>-->
<!--                <input id="green" type="number" max="255" min="0" value="0"/><label> зеленый</label><br/>-->
<!--                <input id="blue" type="number" max="255" min="0" value="0"/><label> синий</label><br/>-->
<!--            </div>-->
<!--            <div id="bg" style="margin-left:1em; float: right; background: rgb(0,0,0); padding: 2em">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>